= form_with model:[@conversation, @message] do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_area :body, rows: 10, placeholder: 'Write here to reply...' ,class: 'form-control form-control-lg', autofocus: true
  .form-group
    = f.submit 'Send', class: 'btn btn-lg btn-light'
