%h1.display-4 Edit Profile
= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f|
  = devise_error_messages!
  .form-group
    = f.text_field :name, autofocus: true, class: 'form-control form-control-lg', placeholder: 'Name'
  .form-group
    = f.email_field :email, class: 'form-control form-control-lg', placeholder: 'Email'
  .form-group
    = f.password_field :password, autocomplete: 'off', class: 'form-control form-control-lg', placeholder: 'New password'
    - if @minimum_password_length
      %small.form-text.text-muted
        Leave blank if you don't want to change it. #{@minimum_password_length} characters minimum.
  .form-group
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control form-control-lg', placeholder: 'Confirm new password'
  .form-group
    = f.password_field :current_password, autocomplete: 'off', class: 'form-control form-control-lg', placeholder: 'Current password'
    %small.form-text.text-muted We need your current password to confirm your changes.
  .form-group
    = f.submit 'Update', class: 'btn btn-lg btn-light'

%h1.card-title.display-6.text-danger Danger Zone
.card.border-danger
  .card-body
    %p.card-text
      .row
        .col
          %h6 Delete this account
          Once you delete a account, there is no going back. Please be certain.
        .col-md-auto
          = link_to 'Delete this account', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-light text-danger'
