%nav{role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Mailbox', conversations_path
    %li.breadcrumb-item.active Conversation with #{@conversation.participant_not(current_user).name}

- if @messages.length > 0
  .col.scrollable
    - @messages.each do |message|
      = render partial: 'messages/message', locals: { message: message }
- else
  %p
    Start Talking with #{@conversation.participant_not(current_user).name}

= render 'messages/form'
