= form_with model: @user_group do |f|
  - if @user_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_group.errors.count, "error")} prohibited this user_group from being saved:"
      %ul
        - @user_group.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_field :name, autofocus: true, class: 'form-control form-control-lg', placeholder: 'Name'
  .form-group
    = f.text_area :description, rows: 15, class: 'form-control form-control-lg', placeholder: 'Description'
    %small.form-text.text-muted You can write Markdown in the description.
  .form-group
    = f.submit 'Save', class: 'btn btn-lg btn-light'
