%nav{role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to t(:index, scope: :data_source), data_sources_path
    %li.breadcrumb-item= link_to @data_source.name.titleize, @data_source
    %li.breadcrumb-item= link_to t(:index, scope: :data_endpoint), data_source_data_endpoints_path(@data_source)
    %li.breadcrumb-item= link_to @data_endpoint.name.titleize, data_source_data_endpoint_path(@data_source, @data_endpoint)
    %li.breadcrumb-item.active= t(:edit, scope: :data_endpoint)

%h1.display-5= @data_source.name.titleize

.mb-3

%h1.display-6= @data_endpoint.name.titleize

.mb-3

.nav.nav-tabs
  %li.nav-item
    = link_to t(:show, scope: :data_endpoint), data_source_data_endpoint_path(@data_source, @data_endpoint), class: 'nav-link'
  %li.nav-item
    = link_to t(:index, scope: :data_request), [@data_source, @data_endpoint, :data_requests], class: 'nav-link'
  - if policy(@data_source).update?
    %li.nav-item
      %span.nav-link.active= t(:edit, scope: :data_endpoint)

.mb-3

= render 'form'

.mb-5

%h1.card-title.display-6.text-danger Danger Zone
.card.border-danger
  .card-body
    %p.card-text
      .row
        .col
          %h6 Delete this endpoint
          Once you delete an endpoint, there is no going back. Please be certain.
        .col-md-auto
          = link_to 'Delete this endpoint', data_source_data_endpoint_path(@data_source, @data_endpoint), data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: 'btn btn-light text-danger'
