%nav{role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to t(:index, scope: :data_source), :data_sources
    %li.breadcrumb-item= link_to @data_source.name.titleize, @data_source
    %li.breadcrumb-item= link_to t(:index, scope: :data_endpoint), [@data_source, :data_endpoints]
    %li.breadcrumb-item= link_to @data_endpoint.name.titleize, [@data_source, @data_endpoint]
    %li.breadcrumb-item= link_to t(:index, scope: :data_request), [@data_source, @data_endpoint, :data_requests]
    %li.breadcrumb-item.active= t(:new, scope: :data_request)

%h1.display-5= @data_source.name.titleize

.mb-3

%h1.display-6= @data_endpoint.name.titleize

.mb-3

%h1.display-6= t(:new, scope: :data_request)

= render 'form'
