%nav{role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to t(:index, scope: :data_source), :data_sources
    %li.breadcrumb-item= link_to @data_source.name.titleize, @data_source
    %li.breadcrumb-item= link_to t(:index, scope: :data_endpoint), [@data_source, :data_endpoints]
    %li.breadcrumb-item= link_to @data_endpoint.name.titleize, [@data_source, @data_endpoint]
    %li.breadcrumb-item= link_to t(:index, scope: :data_request), [@data_source, @data_endpoint, :data_requests]
    %li.breadcrumb-item.active ##{@data_request.id}

%h1.display-5= @data_source.name.titleize

.mb-3

%h1.display-6= @data_endpoint.name.titleize

.mb-3

%span.font-weight-bold.border.border-dark.rounded.p-1= @data_request.method
%span.text-muted= @data_request.url

.mb-3

.nav.nav-tabs
  %li.nav-item
    %span.nav-link.active= t(:show, scope: :data_request)
  %li.nav-item
    = link_to t(:index, scope: :data_request_diff), [@data_source, @data_endpoint, @data_request, :data_request_diffs], class: 'nav-link'
  %li.nav-item
    = link_to t(:index, scope: :data_request_report), [@data_source, @data_endpoint, @data_request, :data_request_reports], class: 'nav-link'

- if @data_request.params.present?
  .mb-3
  %pre
    %code= JSON.pretty_generate @data_request.params

- if @data_request.response.present?
  .mb-3
  %h4
    Response
    %small
      = link_to [@data_source, @data_endpoint, @data_request, format: :json], download: true do
        = fa_icon :download
  %pre.pre-scrollable
    %code= JSON.pretty_generate @data_request.response
