!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Foggly
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to t(:app_name), root_path, class: 'navbar-brand'
      - if user_signed_in?
        %button.navbar-toggler{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarContent'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarContent
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              = link_to conversations_path, class: 'nav-link' do
                Mailbox
                - if Message.unread_by(current_user).length > 0
                  %span.badge.badge-danger
                    = Message.unread_by(current_user).count
            %li.nav-item.active
              = link_to 'Users', users_path, class: 'nav-link'
            %li.nav-item.active
              = link_to 'Groups', user_groups_path, class: 'nav-link'
          = search_form_for @q, class: 'form-inline my-2 my-lg-0' do |f|
            .input-group
              = f.text_field :name_cont, class: 'form-control', placeholder: 'Search', type: 'search'
              %button.input-group-addon= fa_icon :search
          %ul.navbar-nav
            %li.nav-item.dropdown
              = link_to current_user.name, '#', class: 'nav-link dropdown-toggle', data: {toggle: 'dropdown'}
              .dropdown-menu.dropdown-menu-right.text-center
                = link_to 'Profile', edit_user_registration_path, class: 'dropdown-item'
                .dropdown-divider
                = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
    .container
      .flash
        .alert.alert-success{:class => ('collapse' unless flash[:notice]) }
          != flash[:notice]
        .alert.alert-danger{:class => ('collapse' unless flash[:error]) }
          != flash[:error]
        .alert.alert-warning{:class => ('collapse' unless flash[:alert]) }
          != flash[:alert]
        .alert.alert-info{:class => ('collapse' unless flash[:info]) }
          != flash[:info]
      = yield
